.app {
  min-height: calc(100vh - var(--header-desktop-h) - var(--footer-desktop-h));
}

body {
  background-color: #0f0f0f;
  background-color: green;
  height: 2000px;
}

@screen sm {
  .app {
    @apply max-w-screen-sm;
  }
}
@screen md {
  .app {
    @apply max-w-screen-md;
  }
}
@screen lg {
  .app {
    @apply max-w-screen-lg;
  }
}
@screen xl {
  .app {
    @apply max-w-screen-xl;
  }
}
@screen 2xl {
  .app {
    @apply max-w-screen-2xl;
  }
}
